[gcode_macro CLEAN_NOZZLE]

gcode:
   {% if printer.toolhead.homed_axes == "xyz" %}
      M118 Printer already homed, cleaning nozzle
   {% else %}
      M118 Printer not homed yet, Homing now
      STATUS_HOMING
      G28
   {% endif %}
   
   ## Save the gcode state in this macro instance.
   SAVE_GCODE_STATE NAME=clean_nozzle

   {% set y_pos = 305 %}
   {% set left = 246 %}
   {% set right = 286 %}
   {% set scrub_z = 2 %}
   {% set safe_z = 15 %}
   {% set wipe_count = 3 %}

   ## Set to absolute positioning.
   G90
   G1 Z{safe_z} F3000         ## Safe Height
   G1 X{right} Y{y_pos} F5000   ## Right Side
   G1 Z{scrub_z} F3000          ## Move to scrub height
   {% for wipe in range(wipe_count) %}
   G1 X{left} F5000        ## Left Side
   G1 X{right}
   {% endfor %}
   G1 X{left}
   G1 Z{safe_z}               ## Raise to safe height

   M117 Cleaned!

   ## Restore the gcode state to how it was before the macro.
   RESTORE_GCODE_STATE NAME=clean_nozzle