# This file contains common pin mappings for the BIGTREETECH EBBT2
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
#   MCU
#####################################################################

[mcu EBBT2]
canbus_uuid: 77d68f365864

#####################################################################
#   Extruder
#####################################################################

[extruder2]
step_pin: EBBT2: PD0
dir_pin: EBBT2: PD1
enable_pin: !EBBT2: PD2
heater_pin: EBBT2: PB13
sensor_pin: EBBT2: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G

full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
microsteps: 32
rotation_distance: 22.6789511
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.75

#### PID parameters: pid_Kp=21.152 pid_Ki=1.741 pid_Kd=64.251 ####
control = pid
pid_kp = 21.152
pid_ki = 1.741
pid_kd = 64.251

min_temp: 10
max_temp: 300
max_power: 1.0

min_extrude_temp: 70
max_extrude_only_distance: 500

pressure_advance: 0.035

[tmc2209 extruder2]
uart_pin: EBBT2: PA15
interpolate: false
run_current: 0.78
sense_resistor: 0.110
#stealthchop_threshold: 0

[heater_fan T2_hotend_fan]
pin: EBBT2: PA0
heater: extruder2
heater_temp: 50.0
kick_start_time: 0.5

[fan_generic T2_partfan]
pin: EBBT2: PA1
kick_start_time: 0.5
off_below: 0.10

[gcode_macro T2]
variable_spool_id: None
variable_active: 0
variable_color: ""
gcode:
  SELECT_TOOL T=2
  SET_ACTIVE_SPOOL ID={ printer['gcode_macro T2'].spool_id }

[tool T2]
tool_number: 2
extruder: extruder2
fan: fan_generic T2_partfan

gcode_x_offset: -0.050
gcode_y_offset: -4.170
gcode_z_offset: 7.02

params_park_x: 160.7
params_park_y: 17.8
params_park_z: 246.3

#### NEED TO RUN RESONANCE TETING ON THIS ####
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_freq_x: 0
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_freq_y: 0

[tool_probe T2]
pin: ^EBBT2:PB5
tool: 2
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -0.900 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder2

## EBB MCU Temp Sensor
[temperature_sensor EBBT2_TEMP]
sensor_type: Generic 3950
sensor_pin: EBBT2: PA2

[adxl345 T2]
cs_pin: EBBT2: PB12
spi_software_sclk_pin: EBBT2: PB10
spi_software_mosi_pin: EBBT2: PB11
spi_software_miso_pin: EBBT2: PB2
axes_map: z,-y,x