# PG12 Blue Wire: Switch Sensor
# PG13 Green Wire: Motion Sensor

[filament_switch_sensor SFS_T0_SWITCH]
switch_pin: ^PG12
pause_on_runout: False
runout_gcode:
    M117 Filament Switch Runout!
    FILAMENT_RUNOUT
insert_gcode:
    M117 Filament Switch Inserted.
    LOAD_FILAMENT
event_delay: 3.0
pause_delay: 0.5

[filament_motion_sensor SFS_T0]
switch_pin: ^PG13
detection_length: 3 ; This can be adjusted to your desired level of sensitivity. 10 is a recomended value to prevent flow dropoff false triggers.
extruder: extruder
pause_on_runout: False ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below. 
runout_gcode:
    M117 Filament Encoder Runout!
    FILAMENT_RUNOUT
insert_gcode:
    # M117 Filament Encoder Inserted.
    # filament_load_init
event_delay: 3.0
pause_delay: 0.5

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0 ; Put your filament sensor's name after SENSOR=